
.page-wrapper .vertical-layout-sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.page-wrapper .vertical-layout-sidebar .logo-container {
    width: 100%;
    height: 60px;
    padding: 6px 10px;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 0 auto;
    background: var(--theme-default);
    display: flex;
    justify-content: center;
}

.page-wrapper .vertical-layout-sidebar .sidebar-menu {
  position: relative;
  height: calc(100vh - 60px);
  /* z-index: 9999; */
}

.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li:hover {
  background: var(--theme-default-light);
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li a {
  padding: 6px 8px 6px 8px;
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li a i,
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li a svg {
  font-size: 1.4rem;
  color: var(--theme-default);
  fill: var(--theme-default);
  width: 26px;
  height: 26px;
  margin: 0 auto;
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li a .menu-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
  color: #222;
  display: block;
  font-weight: 600;
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li.active {
  background: var(--theme-default-light);
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li.active .menu-text {
  color: var(--theme-default);
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu ul li.active > a i {
  color: var(--theme-default);
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu .last-item {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: calc(100vh - 250px);
  
  overflow-y: auto;
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu .first-item {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    min-height: 200px;
}
.page-sub-header {
  margin-top: 65px !important;
}

.vertical-layout-body {
  overflow-x: hidden;
}

.page-wrapper.compact-sidebar .page-body-wrapper .sidebar-wrapper div nav.sidebar-main {
  width: 220px;
}

.sidebar-main {
  background: #fff;
}
.sidebar-main ul li {
  text-align: left;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  padding: 10px 12px;
}
.sidebar-main ul li:hover {
  background: var(--theme-default-light);
}
.sidebar-main ul li a i,
.sidebar-main ul li a svg {
  font-size: 1.4rem;
  color: var(--theme-default);
  fill: var(--theme-default);
  width: 26px;
  height: 26px;
  margin: 0 auto;
}
.sidebar-main ul li a .menu-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  color: #222;
  margin-left: 4px;
}
.sidebar-main ul li.active-menu {
  background-color: var(--theme-default-light) !important;
}
.sidebar-main ul li.active-menu .menu-text {
  color: var(--theme-default);
}
.sidebar-main ul li.active-menu > a i {
  color: var(--theme-default);
}
.sidebar-main .last-item {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-wrapper.compact-sidebar .page-body-wrapper .sidebar-wrapper div nav.sidebar-main {
  background-color: #fff !important;
  border-right: 1px solid #d1d1d1;
}

@media only screen and (min-width: 768px) {
  .vertical-layout-body {
    margin: 0 auto;
    width: 100%;
    padding-left: 80px;
    overflow-x: hidden;
  }
  .vertical-layout-body .page-header {
    width: calc(100% - 80px) !important;
  }
  .page-wrapper.compact-sidebar.material-icon .page-header .header-wrapper {
    padding: 10px 0px !important;
  }
  .page-wrapper.material-icon .page-body-wrapper .page-body {
    max-width: 100% !important;
  }
  .page-wrapper.material-icon .page-header {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .page-wrapper.compact-sidebar.material-icon .page-body-wrapper .footer {
    max-width: 100% !important;
    margin-left: 0px;
    padding: 15px !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .page-wrapper .page-body-wrapper .page-body {
    padding: 0 15px !important;
  }
}
@media only screen and (max-width: 991.98px) {
  .page-wrapper.compact-sidebar .simplebar-mask {
    top: 30px !important;
    width: 220px !important;
  }
  
}

@media only screen and (max-width: 420px) {
    .page-wrapper.compact-sidebar .page-header .header-wrapper .toggle-sidebar svg {
        width: 20px !important;
    }
}

.sidebar-main .last-item li:last-child a svg, .vertical-layout-sidebar .sidebar-menu .last-item li:last-child a svg {
    fill: #e8684b !important;
}


.sidebar-popover {
  position: absolute;
  left: 90px;
  /* top: 50%;
  transform: translateY(-50%); */
  top: auto;
  transform: none;
  width: 240px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.12), 0 0 0 1px #ededed;
  z-index: 9999; /* Set high z-index */
  padding: 10px 15px;
  
}

.popover-header {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.popover-item {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 0px;
  max-height: 250px;
  overflow-y: auto;
}

.popover-item .icon i {
    font-size: 13px !important;
    color: #222 !important;
}
.popover-item .icon {
    background: #e7e7e7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
}
.page-wrapper .vertical-layout-sidebar .sidebar-menu .popover-item ul li a{
  padding: 0 !important;
  color: #222;
  font-size: 12px;
}